body {
    text-align: center;
    background-image: radial-gradient(#F9DBBD,#FCA17D,#0D0628);
}

#people {
    display : flex;
    
   flex-flow: row wrap;

    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;




}



img {
    margin-top: 30px;
    margin-bottom: 10px;
    height : 200px;
    width : 200px;
    border-style: solid;
    border-radius: 20px;


}
@media screen {
    width: 320px;
    length: 568px;

    
}